body {
  background-image: url("../images/christmas-background.jpg");
  background-position: center;
  background-repeat: repeat;
  background-color: white;
  background-size: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  line-height: 32px;
  letter-spacing: 0ex;
  position: relative;
  overflow: auto;
}

body, html {
  height: 100%;
}

header {
  background-color: white;
  width: 100%;
  border-bottom: 2px solid grey;
  position: fixed;
  z-index: 3;
}

footer {
  background-color: #f8f9fa;
  color: grey;
  font-size: 100%;
  line-height: 36px;
  width: 100%;
  height: 55px;
  text-align: center;
  border-top: 8px solid #f8f9fa;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  padding-bottom: 230px; /* height of footer */
  clear: both;
}

.content {
  background-color:white;
  position: relative;
  top: 120px;
  border: 3px solid #f1f1f1;

  background-color: rgb(14, 98, 112); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

a {
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


@media screen and (max-width: 768px) {
  .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
  }
}